/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

a {
    text-decoration : none;
    color: #F98807;
}
a:hover {
    text-decoration: underline;
}

hr {
    margin-bottom: 12px;
}

html {
    font-family: 'Josefin Sans', "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
/*	background: url(/images/12_col.gif) repeat-y top center; */
    background-color: #F2EBE4;
    font-color: #4e443c;
    line-height: 1.5;
    font-size: 100%;
}

header {
    text-align: center;
    /* padding-top: 24px; */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-family: 'Josefin Sans', "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
    color: #222222;
}

h1 {
    font-size: 48px;
    line-height: 1; /* 48px */
}

h2 {
    font-size: 36px;
    line-height: 1.3333;
}

h3 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 1;
    font-family: 'Josefin Sans', "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}

h4 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 1;
    font-family: 'Josefin Sans', "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}

h5 {
  text-decoration: underline;
}

hgroup h2, h4, h5, h6 {
    font-size: 16px; /* 16px */
    line-height: 1.5; /* 24px */
}

.author {
    margin-top: 0px;
    font-family: 'Gruppo', cursive;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

ul, ol  { list-style: none; }

#social-buttom li {
    float: left;
    margin: 10px 5px 20px 0;
    width: 65px;
}

.clear-list {
    clear: both;
}

#mobile-stickey-menu {
    display: none;
}

.slide-menu {
    display: none;
}

p {
    margin-bottom: 10px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 90%;
  margin: 24px auto 24px;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
}

.title a {
    color: black;
}

.title a:hover {
    text-decoration: none;
}

.header a.extra {
  margin-left: 1em;
}

.side_box {
    border: solid black 0px;
    /* background-color: #E6E6E6; */
}

.side_content {
    margin-top: 6px;
    margin-bottom: 6px;	
}

.footer {
    color: white;
    display: block;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.footer .contact {
}

.footer .contact h4 {
    margin: 0;
    margin-bottom: 4px;
    color: #E0E63B;
    border-bottom: solid white 1px;
}

.footer .contact p {
    margin-top: 0;
    color: white;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.footer .footer_inner {
/*	width: 90%; */
    margin: 12px auto;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

/* Mobile CSS ~ 767px */
@media only screen and (max-width: 767px) {

    .site {
        text-align: justify;
        width: 90%;
        margin-top: 48px;
        line-height: 1.5em;
    }

    header {
        text-align: center;
        padding-top: 24px;
    }

    header h1 {
        /* font-size: 20px; */
    }
    header h1 a {
        text-decoration: none;
        color: red: !important
    }

    h3 {
        margin-bottom: 0px;
    }

    #mobile-sticky-menu {
        display: block;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 48px;
        line-height: 48px;
        z-index: 200;
        background-color: black;
        color: white;
        text-align: left;
    }

    #mobile-sticky-menu .slide-menu {
        display: block;
        position: fixed;
        color: white;
        text-decoration: none;
    }
    #mobile-menu-button {
        margin-left: 12px;
    }
    #mobile-logo {
        left: 50%;
        margin-top: 14px;
        margin-left: 0px;
    }
    .footer_inner {
        width : 90%; /*940/1024*/
        padding : 24px 0;
        margin : 0 auto
    }
}

/* Desktop CSS 1024px ~ */
@media screen and (min-width: 1024px){
    #contents {
        margin: 0 auto;
        overflow: hidden;
        width: 960px;
    }
    #sub {
    }
    #contents #main,
    #contents #sub {
        float : left;
        margin : 0 10px
    } /*10/960*/

    #contents #main { width : 620px } /*620/960*/
    #contents #sub { width : 300px } /*300/960*/

    .pagination {
        width: 940px;
        padding: 24px 0;
        margin: 0 auto;
    }

    .footer_inner {
        width : 940px; /*940/1024*/
        padding : 24px 0;
        margin : 0 auto
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 1023px) {
    #contents #sub {
        display: none;
    }
    .footer_inner {
        width: 90%;
        padding : 24px 0;
        margin: 0 auto;
    }
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  font-size: 80%;
}

#contents #main p img{
    display: block;
    margin: 0 auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


#post_title {
    line-height: 1.5em;
}

.post p { 
    margin: 1.7em 0em 1.7em 0em;
    font-size: 17px;
    line-height: 1.7em;
    color: #222222;
}

/* standard */
.post h3 {
    border-bottom: 1px solid black;
    margin-bottom: 12px;
}

.post h4 {
    border-bottom: 1px solid black;
}

.post pre {
  overflow-x: auto;
  padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
  padding: 0.2em;
}

.post code pre {
    border: none;
}

.post .lineno {
    border-right: 1px solid #ddd;
}

/* terminal */
.post pre.terminal {
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sdir
/*
/*****************************************************************************/

.sidr{
    display:none;
    position:absolute;
    position:fixed;
    top:0;
    height:100%;
    z-index:999999;
    width:260px;
    overflow-x:none;
    overflow-y:auto;
    background:#f8f8f8;
    -webkit-box-shadow:inset 0 0 5px 5px #ebebeb;
    -moz-box-shadow:inset 0 0 5px 5px #ebebeb;
    box-shadow:inset 0 0 5px 5px #ebebeb
}
