<div id="mobile-sticky-menu">
	<a   class="slide-menu" id="mobile-menu-button" href="#sidr">Menu</a>
	<img class="slide-menu" id="mobile-logo" src="/images/a.png" width="24" height="24" alt="" />
</div>

<div id="sidr">
	<!-- Your content -->
	<!-- <h4>Share</h4> -->

	<h4>Category</h4>
	<ul>
	   {% for category in site.categories %}
		   <li>
		   		<a href="{{ category | first | each_category_link }}">{{ category | first }}</a>
		   </li>
	   {% endfor %}
    </ul>
	<h4>Archive</h4>
	<ul>
		{% for ym in site.archive %}
			<li>
				<a href="/{{ym[0]}}/{{ym[1]}}/">{{ym[0]}}/{{ym[1]}}</a>
			</li>
		{% endfor %}
	</ul>

	<img src="/images/me.png" alt="me" />

</div>
