	{% include header.html %}

	<body>
        
        {% include mobile_menu.html %}
        
		<div class="site">			

			<div id="contents">

				<!-- title -->
				{% include title.html %}

				<div id="main">
					<!-- This loops through the paginated posts -->
					{% for post in paginator.posts %}
						<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
						<p class="author">
							<span class="date">{{ post.date }}</span>
						</p>
						<div class="content">
							{{ post.excerpt }}
						</div>
						<p><a href="{{post.url}}">...More</a></p>
						<hr />
					{% endfor %}
				</div>

				<div id="sub">
				   {% include side.html %}
				</div>
				
			</div>

			<!-- Pagination links -->
			<div class="pagination">
				{% if paginator.previous_page %}
				<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
				{% else %}
				<span class="previous">Previous</span>
				{% endif %}
				<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
				{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}" class="next">Next</a>
				{% else %}
				<span class="next ">Next</span>
				{% endif %}
			</div>
	   </div>   

	   {% include footer.html %}
	  
    </body>
</html>
