	{% include header.html %}
	
	<body>
    
        {% include mobile_menu.html %}

        <div class="site">

			<!-- title -->
			{% include title.html %}

			<div id="contents">
				
				<div id="main">
					<h3><a href="{{post.url}}">{{ page.title }}</a></h3>
					<p class="author">
						<span class="date">{{ page.date }}</span>
					</p>
		      		
					<div class="post">
						{{ content }}
					</div>

				</div>

				<div id="sub">
				   {% include side.html %}
				</div>

			</div>


		</div>

		{% include footer.html %}

	</body>
</html>